body,
header,
footer {
  width: 100%;
  font-family: $primary-font;
}

.subtitle {
  margin-top: 26px;
}

.style-of-the-day {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  transition: color 0.2s;
  &:hover {
    text-decoration: none;
  }
}
