#carousel {
  font-family: $secondary-font;
}

.carousel-caption {
  width: 100%;
  right: 0;
  left: 0;
  .caption {
    background-color: $primary;
    color: black;
    margin: auto;
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
  h5 {
    text-transform: uppercase;
    font-size: 18px;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 90px;
  width: 30px;
  outline: black;
  background-color: rgba(0, 0, 0, 1);
  background-size: 100%, 100%;
  border: 1px solid black;
}
#carousel {
  .carousel-inner {
    .carousel-item {
      .image-holder {
        display: block;
        position: relative;
        align-content: center;
      }
      .image-shadow {
        display: flex;
        width: 100%;
        height: 33%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgb(25, 25, 25);
        background: linear-gradient(0deg, rgba(25, 25, 25, 1) 0%, rgba(210, 208, 201, 0.1) 100%);
      }
    }
  }

  .text-holder {
    z-index: 2;
    width: 52.5%;
    height: 19.5%;
    bottom: 40.1%;
    left: 42.2%;
    right: 10%;
    display: block;
    position: absolute;
    color: white;
    background: black;
    opacity: 0.5;
    text-align: left;
    font-size: 14px;
    overflow: hidden;
    transition: opacity 0.2s;
    &:hover {
      opacity: 1;

    }

    .text-overflow {
      overflow: hidden;
      height: 46px;
    }
  }

  .txt-box {
    padding: 6%;
  }

  .txt {
    color: white;
  }

  .txt-prim {
    color: $primary;
  }
  @include tablet {
    width: 100%;
    height: auto;
  }

  @include mobile {
    width: 100%;
    height: auto;
  }
}

.carousel-control-prev2 {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  cursor: none;

  &:hover {
    opacity: 1;
    pointer-events: none;
  }
  .carousel-prev {
    &:hover {
      opacity: 0.8;
    }
    transform: rotate(180deg);
    left: 0;
    position: absolute;
    cursor: pointer;
  }
}

.carousel-control-next2 {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  cursor: none;
  &:hover {
    opacity: 1;
  }
  .carousel-next {
    &:hover {
      opacity: 0.8;
    }
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}
