.mostread {
  display: grid;
  grid-template-rows: 26px 1fr;
  padding: 20px;
  background-color: $info;
  grid-gap: 10px;
  margin-top: -140px;
  margin-bottom: 30px;

  @include tablet-and-down {
    margin-top: 0;
  }
  .item {
    display: grid;
    grid-template-columns: 66px 1fr;
    grid-gap: 10px;
    .text-holder {
      .mostreadsub {
        a {
          font-family: $secondary-font;
          font-size: 12px;
          color: $secondary;
          background-color: $primary;
          text-transform: uppercase;
          padding: 2px 6px;
        }
      }
      p {
        overflow: hidden;
        max-height: 48px;
        margin-bottom: 0;
        line-height: 1em;
        a {
          font-family: $secondary-font;
          font-size: 12px;
          text-transform: uppercase;
          color: $secondary;
        }
      }
    }
  }

  .first {
    font-size: 16px;
    font-family: $secondary-font;
    text-transform: uppercase;
  }
}
