.navbar {
  &.navbar-expand-md {
    &.bg-secondary {
      width: 100%;
      a {
        &.nav-link {
          color: white;
          @include tablet {
            font-size: 0.7rem;
          }
          &:hover {
            color: $primary;
          }
        }
      }
      .btn-secondary {
        @include tablet {
          font-size: 0.7rem;
        }
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .dropdown {
       &:hover > {
      .dropdown-menu {
        .dropdown-item {
          color: $primary;
          &:hover {
            color: $secondary;
            background-color: $primary;
          }
        }
        display: block;
        margin-top: -3px;
      }
    }
  }
  #navbarNavAltMarkup {
    @include tablet {
      display: none;
    }
    @include landscape {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
}

.navbar-toggler-icon {
  background-image: url("/public/images/nav-toggle.png");
}

.search {
  display: flex;
  align-items: center;
  justify-self: end;
  margin-right: 10px;
 
  @include landscape {
    margin-right: 25px;
  }
  @include mobile {
    
    margin-right: 30px;
  }
}

.logo {
  @include tablet {
    width: 150px;
    height: auto;
  }
  @include landscape {
    width: 150px;
    height: auto;
  }
  @include mobile {
    width: 90px;
    height: auto;
  }
}

#na {
  @include mobile {
    padding-right: 20px;
  }
}

#nav-bottom {
height: 30px;
line-height: 30px;
}
