.navbar {
  &.navbar-expand-md {
    &.bg-secondary {
      width: 100%;
      a {
        &.nav-link {
          color: white;
          &:hover {
            color: $primary;
          }
        }
      }
      .btn-secondary {
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .dropdown {
    &:hover > {
      .dropdown-menu {
        .dropdown-item {
          color: $primary;
          &:hover {
            color: $secondary;
            background-color: $primary;
          }
        }
        display: block;
        margin-top: -3px;
             }
    }
  }
}

.navbar-toggler-icon {
  background-image: url("/src/public/images/nav-toggle.png");

}

.search {
  display: flex;
  align-items: center;
  justify-self: end;
  margin-right: 10px;
  
}


