.image-description {
    margin-top: 20px;
    h6 {
        max-height: 64px;
        overflow: hidden;
        font-family: $secondary-font;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 20px;
    }
    
}

