.tags {
  margin-top: 50px;
  @include tablet-and-down {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    a {
      font-family: $secondary-font;
      color: $secondary;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  span {
    a {
      font-family: $secondary-font;
      color: $secondary;
      font-size: 12px;
      font-weight: bold;
    }
  }
}
