$primary: #fecc0c;
$secondary: black;
$info: rgb(220,220,220);
$grey: #919191;

$grid-breakpoints: (
        xs: 0,
        sm: 540px,
        md: 720px,
        lg: 980px,
        xl: 980px,
        xxl: 980px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 960px,
        xxl: 960px
);

$primary-font: 'EB Garamond', serif;
$secondary-font: 'Montserrat', sans-serif;

$mobile-width: 540px;
$tablet-width: 720px;
$desktop-width: 980px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin landscape {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
  }
