<div class="follow">
    <p>pratite nas</p>
    <div class="icons">
        <a href="#"><i class="fab fa-facebook-f mr-3" id="fa"></i></a>
        <a href="#"><i class="fab fa-twitter mr-3" id="tw"></i></a>
        <a href="#"><i class="fab fa-instagram" id="in"></i></a>
        <a href="#"><i class="fas fa-wifi" id="wifi"></i></a>

    </div>
    <span>Prijavi se za naš newsletter</span>
    <form action="/" method="POST">
        <input type="email" name="email" id="greybox">
           
        <input type="submit" value="prijavi se" id="blackbox">
    </form>
    
</div>