<footer>
    <div class="container-fluid" id="footer">
        <div class="container p-0">
            <div class="footer">
                <div class="item">
                    <a href="#"><img src="./public/images/ll.png" id="logofooter" alt=""></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consequuntur unde explicabo
                        voluptas iusto a?</p>
                    <div>
                        <a href="#"><i class="fab fa-facebook-f mr-3"></i></a>
                        <a href="#"><i class="fab fa-twitter mr-3"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                    <a href="#"><img src="./public/images/amfooter.jpg" id="amfooter" alt=""></a>
                </div>
                <div class="item">
                    <div class="newsletter">
                        <span id="nlfooter">NEWSLETTER</span>
                        <p id="new">Najnovije vesti u tvom sandučetu</p>
                        <form action="/" method="POST" id="formbox">
                            <input type="email" name="email" id="box">

                            <input type="image" src="./public/images/nla.jpg" alt="" id="box2">
                        </form>
                    </div>
                    <div class="tag">
                        <p><a href="#">tagovi</a></p>
                        <span><a href="#">lepota </a><a href="#">#scena </a><a href="#">#hair</a> <a href="#">#instagram</a> <a href="#">#lifestile</a> <a href="#">#poznati </a><a href="#">#lepota</a> <a href="#">#scena </a><a href="#">#hair</a>
                            <a href="#">#instagram</a> <a href="#">#lifestile</a> <a href="#">#poznati</a> <a href="#">#lepota</a> <a href="#">#scena</a> <a href="#">#hair</a> <a href="#">#instagram</a> <a href="#">#lifestile</a> <a href="#">#poznati</a> <a href="#">#lepota</a>
                            </span>
                    </div>
                </div>
                <div class="item">
                    <div class="ifeed">
                        <span id="infeed"><a href="#">istagram feed</a></span>
                        <a href="#" id="instfeed"><img src="./public/images/instfeed.jpg" alt=""></a>
                        <p>Pratite nas <a href="#">@graziaserbia</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="navi">
        <div class="container p-0">
            <div class="navfoot">
                <a class="footernav" href="#">Home</a>
                <a class="footernav" href="#">u fokusu</a>
                <a class="footernav" href="#">moda</a>
                <a class="footernav" href="#">lepota </a>
                <a class="footernav" href="#">scena</a>
                <a class="footernav" href="#">HOROSKOP</a>
                <a class="footernav" href="#">MAGAZIN</a>
                <a class="footernav" href="#">AKCIJE</a>
                <a class="footernav" href="#">PROMO</a>
                <a class="footernav" href="#">CASAVIVA</a>
                <a class="footernav" href="#">GASTRO</a>
                <a class="footernav" href="#">SHOP</a>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="copiright">
        <div class="container p-0" id="cop">
            <div>
                <i class="far fa-copyright"></i>
                Copyright 2018. All Rights Reserved, GRAZIA.
            </div>
            <div>
                Developed by Ministudio Publishing Group
            </div>

        </div>
    </div>
</footer>