<div class="row" id="graziashop">
    <div class="col-sm-12">
        <a href="#">
            <h2>GRAZIA <span>SHOP</span></h2>
        </a>
    </div>
</div>

<div class="row" id="shop">

    <div class="col-md-4">
        <article class="shop-item">
            <a href="#">
                <img src="./public/images/shop-img-3.jpg" alt="" id="left">
            </a>
            <h2>
                mantil
            </h2>
            <span> boss </span>
        </article>
    </div>
    <div class="col-md-4">
        <article class="shop-item">
            <a href="#">
                <img src="./public/images/shop-img-2.jpg" alt="">
            </a>
            </a>
            <h2>
                roza majca
            </h2>
            <span> boss </span>
        </article>
    </div>
    <div class="col-md-4">
        <article class="shop-item">
            <a href="#">
                <img src="./public/images/shop-img-1.jpg" alt="">
            </a>
            </a>
            <h2>
                suknja na pruge
            </h2>
            <span> boss </span>


        </article>
    </div>
</div>




        ${require('./hotnews.html')}

