<header>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-3">
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <div>
                <img src="../public/images/logo.jpg" alt="Grazia logo">
            </div>
            <div class="d-inline-flex align-items-center">
                <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mx-3">
                                <div class="md-form mb-5">
                                    <i class="fas fa-envelope prefix grey-text"></i>
                                    <input type="email" id="defaultForm-email" class="form-control validate">
                                    <label data-error="wrong" data-success="right" for="defaultForm-email">Your
                                        email</label>
                                </div>

                                <div class="md-form mb-4">
                                    <i class="fas fa-lock prefix grey-text"></i>
                                    <input type="password" id="defaultForm-pass" class="form-control validate">
                                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Your
                                        password</label>
                                </div>

                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button class="btn btn-default">Login</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="text-center">
                    <a href="" class="btn btn-default btn-rounded" data-toggle="modal"
                        data-target="#modalLoginForm">Login</a>
                </div>
                <i class="fas fa-shopping-bag"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>

    </div>


    <div class="container">
        <nav class="navbar navbar-expand-md bg-secondary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">HOME <span class="sr-only">(current)</span></a>
                    <div class="dropdown bg-secondary">
                        <button class="btn btn-secondary" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            U FOKUSU
                        </button>
                        <div class="dropdown-menu bg-secondary" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Intervju</a>
                            <a class="dropdown-item" href="#">U fokusu</a>
                            <a class="dropdown-item" href="#">Blog</a>
                        </div>
                    </div>
                    <div class="dropdown bg-secondary">
                        <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          LEPOTA
                        </button>
                        <div class="dropdown-menu bg-secondary" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Trendovi</a>
                          <a class="dropdown-item" href="#">Make Up</a>
                          <a class="dropdown-item" href="#">Kosa</a>
                          <a class="dropdown-item" href="#">Nega Kože</a>
                          <a class="dropdown-item" href="#">Parfemi</a>
                          <a class="dropdown-item" href="#">Fitnes</a>
                          <a class="dropdown-item" href="#">Saveti stručnjaka</a>
                        </div>
                      </div>
                      <div class="dropdown bg-secondary">
                        <button class="btn btn-secondary" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            SCENA
                        </button>
                        <div class="dropdown-menu bg-secondary" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Film</a>
                            <a class="dropdown-item" href="#">Muzika</a>
                            <a class="dropdown-item" href="#">Knjige</a>
                            <a class="dropdown-item" href="#">Umetnos</a>
                            <a class="dropdown-item" href="#">Pozorište</a>
                        </div>
                    </div>
                    <a class="nav-item nav-link" href="#">HOROSKOP</a>
                    <a class="nav-item nav-link" href="#">MAGAZIN</a>
                    <a class="nav-item nav-link" href="#">AKCIJE</a>
                    <a class="nav-item nav-link" href="#">PROMO</a>
                    <a class="nav-item nav-link" href="#">CASAVIVA</a>
                    <a class="nav-item nav-link" href="#">GASTRO</a>
                    <a class="nav-item nav-link" href="#">SHOP</a>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>

        </nav>
    </div>


    <div class="container bg-info">
        Grazia/Home
    </div>
</header>