<header>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <div class="col-4">
                <img src="../public/images/logo.jpg" alt="Grazia logo">
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">HOME <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">U FOKUSU</a>
                    <a class="nav-item nav-link" href="#">LEPOTA</a>
                    <a class="nav-item nav-link" href="#">SCENA</a>
                    <a class="nav-item nav-link" href="#">HOROSKOP</a>
                    <a class="nav-item nav-link" href="#">MAGAZIN</a>
                    <a class="nav-item nav-link" href="#">AKCIJE</a>
                    <a class="nav-item nav-link" href="#">PROMO</a>
                    <a class="nav-item nav-link" href="#">CASAVIVA</a>
                    <a class="nav-item nav-link" href="#">GASTRO</a>
                    <a class="nav-item nav-link" href="#">SHOP</a>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
</header>