<div class="horoskop banners">
    <div class="item">horoskop</div>
    <div class="sign">
        <div class="zodiac">
            <a href="#"> <img class="d-block w-100" src="./public/images/aries.png" alt=""> </a>
        </div>
        ovan
    </div>
    <div class="sign">
        <div class="zodiac">
            <a href="#"> <img class="d-block w-100" src="./public/images/aries.png" alt=""> </a>
        </div>

        vaga
    </div>
    <div class="sign">
        <div class="zodiac">
            <a href="#"> <img class="d-block w-100" src="./public/images/aries.png" alt=""> </a>
        </div>
        bik
    </div>
    <div class="sign">
        <div class="zodiac">
            <a href="#"> <img class="d-block w-100" src="./public/images/aries.png" alt=""> </a>
        </div>
        škorpija
    </div>
    <div class="sign">
        <div class="zodiac">
            <a href="#"> <img class="d-block w-100" src="./public/images/aries.png" alt=""> </a>
        </div>
        blizanci
    </div>
    <div class="sign">
        <div class="zodiac">
            <a href="#"> <img class="d-block w-100" src="./public/images/aries.png" alt=""> </a>
        </div>
        strelac
    </div>
    <div class="sign">
        <div class="zodiac">
            <a href="#"> <img class="d-block w-100" src="./public/images/aries.png" alt=""> </a>
        </div>
        rak
    </div>
    <div class="sign">
        <div class="zodiac">
            <a href="#"> <img class="d-block w-100" src="./public/images/aries.png" alt=""> </a>
        </div>
        jarac
    </div>
    <div class="sign">
        <div class="zodiac">
            <a href="#"> <img class="d-block w-100" src="./public/images/aries.png" alt=""> </a>
        </div>
        lav
    </div>
    <div class="sign">
        <div class="zodiac">
            <a href="#"> <img class="d-block w-100" src="./public/images/aries.png" alt=""> </a>
        </div>
        vodolija
    </div>
    <div class="sign">
        <div class="zodiac">
            <a href="#"> <img class="d-block w-100" src="./public/images/aries.png" alt=""> </a>
        </div>
        devica
    </div>
    <div class="sign">
        <div class="zodiac">
            <a href="#"> <img class="d-block w-100" src="./public/images/aries.png" alt=""> </a>
        </div>
        ribe
    </div>
</div>