<div class="row">
        <div class="col-sm-12">
            <h2 class="subtitle">HOT NEWS</h2>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="image-holder">
                <img src="./public/images/news-img-1.jpg" alt="" id="left">
                <div class="image-caption">
                    <span class="caption">MODA</span>
                    <h6>IZGOVORITE SUDBONOSNO DA U PREFINENIM ITALIJANSKIM KREACIJAMA</h6>
                    <p class="date">24. april, 2018</p>
                </div>
                <div class="image-shadow">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image-holder">
                <img src="./public/images/news-img-2.jpg" alt="">
                <div class="image-caption">
                    <span class="caption">MODA</span>
                    <h6>IZGOVORITE SUDBONOSNO DA U PREFINENIM ITALIJANSKIM KREACIJAMA</h6>
                    <p class="date">24. april, 2018</p>
                </div>
                <div class="image-shadow">

                </div>
            </div>
        </div>

    </div>

