<div class="row">
    <div class="col-sm-12">
        <h2 class="subtitle">HOT NEWS</h2>
    </div>
</div>
<div class="row">

    <div class="col-md-6">
        <div class="image-holder">
            <a href="#">
                <img src="./public/images/news-img-1.jpg" alt="" id="left">
            </a>
            <div class="image-caption">
                <a class="caption p-1" href="#">MODA</a>
                <h6>IZGOVORITE SUDBONOSNO DA U PREFINENIM ITALIJANSKIM KREACIJAMA</h6>
                <p class="date">24. april, 2018</p>
            </div>
            <div class="image-shadow">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="image-holder">
            <a href="#">
                <img src="./public/images/news-img-2.jpg" alt="">
            </a>
            <div class="image-caption">
                <a class="caption p-1" href="#">Scena</a>
                <h6>IZGOVORITE SUDBONOSNO DA U PREFINENIM ITALIJANSKIM KREACIJAMA</h6>
                <p class="date">24. april, 2018</p>
            </div>
            <div class="image-shadow">

            </div>
        </div>
    </div>

</div>