<div class="infocus">
    <div class="holder">
        <div class="image-holder"><a href="#"><img src="./public/images/ufokusunatpis.jpg" alt=""></a></div>                   
    </div>
    <article class="item">
        <div class="image-holder"><a href="#"><img src="./public/images/u-fokusu.jpg" alt=""></a></div>
        <div class="text-holder">
            <div class="infokussub"><a href="#">moda</a></div>
            <p><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos deleniti, soluta porro
                    consequatur recusandae iusto?</a></p>
        </div>
    </article>
    <article class="item">
        <div class="image-holder"><a href="#"><img src="./public/images/u-fokusu.jpg" alt=""></a></div>
        <div class="text-holder">
            <div class="infokussub"><a href="#">moda</a></div>
            <p><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos deleniti, soluta porro
                    consequatur recusandae iusto?</a></p>
        </div>
    </article>
    <article class="item">
        <div class="image-holder"><a href="#"><img src="./public/images/u-fokusu.jpg" alt=""></a></div>
        <div class="text-holder">
            <div class="infokussub"><a href="#">moda</a></div>
            <p><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos deleniti, soluta porro
                    consequatur recusandae iusto?</a></p>
        </div>
    </article>
    <article class="item">
        <div class="image-holder"><a href="#"><img src="./public/images/u-fokusu.jpg" alt=""></a></div>
        <div class="text-holder">
            <div class="infokussub"><a href="#">moda</a></div>
            <p><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos deleniti, soluta porro
                    consequatur recusandae iusto?</a></p>
        </div>
    </article>
</div>