<div class="mostread">
    <div class="first">najčitanije</div>
    <div class="item">
        <div class="image-holder"><a href="#"><img src="./public/images/mostread.jpg" alt=""></a></div>
        <div class="text-holder">
            <div class="mostreadsub"><a href="#">moda</a></div>
            <p><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos deleniti, soluta porro
                    consequatur recusandae iusto?</a></p>
        </div>
    </div>
    <div class="item">
        <div class="image-holder"><a href="#"><img src="./public/images/mostread.jpg" alt=""></a></div>
        <div class="text-holder">
            <div class="mostreadsub"><a href="#">moda</a></div>
            <p><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos deleniti, soluta porro
                    consequatur recusandae iusto?</a></p>
        </div>
    </div>
    <div class="item">
        <div class="image-holder"><a href="#"><img src="./public/images/mostread.jpg" alt=""></a></div>
        <div class="text-holder">
            <div class="mostreadsub"><a href="#">moda</a></div>
            <p><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos deleniti, soluta porro
                    consequatur recusandae iusto?</a></p>
        </div>
    </div>
    <div class="item">
        <div class="image-holder"><a href="#"><img src="./public/images/mostread.jpg" alt=""></a></div>
        <div class="text-holder">
            <div class="mostreadsub"><a href="#">moda</a></div>
            <p><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos deleniti, soluta porro
                    consequatur recusandae iusto?</a></p>
        </div>
    </div>

</div>