<div class="news">
    <article class="newsitem">
            <div class="image-holder"><a href="#"><img src="./public/images/news.jpg" alt=""></a></div>
        <div class="text-holder">
            <div class="moda-news"><a href="#">moda1</a></div>
            <div class="sub">kako nositi maxi haljine kao street style zvezde kako nositi maxi haljine kao street style zvezde</div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis architecto facilis fugiat recusandae quidem perferendis libero reiciendis cum sapiente ipsa!S</p>
            <span>24. april 2018.</span>
        </div>
    </article>
    <article class="newsitem">
            <div class="image-holder"><a href="#"><img src="./public/images/news.jpg" alt=""></a></div>
        <div class="text-holder">
            <div class="moda-news"><a href="#">moda</a></div>
            <div class="sub">kako nositi maxi haljine kao street style zvezde kako nositi maxi haljine kao street style zvezde</div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis architecto facilis fugiat recusandae quidem perferendis libero reiciendis cum sapiente ipsa!S</p>
            <span>24. april 2018.</span>
        </div>
    </article>
    <article class="newsitem">
        <div class="image-holder"><a href="#"><img src="./public/images/news.jpg" alt=""></a></div>
        <div class="text-holder">
            <div class="moda-news"><a href="#">moda</a></div>
            <div class="sub">kako nositi maxi haljine kao street style zvezde kako nositi maxi haljine kao street style zvezde</div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis architecto facilis fugiat recusandae quidem perferendis libero reiciendis cum sapiente ipsa!S</p>
            <span>24. april 2018.</span>
        </div>
    </article>
    
</div>