<div class="container p-0">
    <div class="row" id="stil">

        <div class="col-md-4">
            <div class="image-box">
                <a href="#">
                    <img src="./public/images/moda-img-3.jpg" alt="">
                </a>

            </div>
            <div class="image-description">
                <a href="#" class="caption p-1">MODA</a>
                <h6>KAKO NOSITI MAKSI HALJINE KAO STREET STYLE ZVZDE</h6>
                <p class="date">18. april, 2018</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="image-box">
                <a href="#">
                    <img src="./public/images/moda-img-2.jpg" alt="">
                </a>
            </div>
            <div class="image-description">
                <a href="#" class="caption p-1">LEPOTA</a>
                <h6>KAJLI DŽENER I KORTNI KARDAŠIJAN PREDSTAVLJAJU NOVU KOLEKCIJU KOZMETIKE KAJLI DŽENER I KORTNI KARDAŠIJAN PREDSTAVLJAJU NOVU KOLEKCIJU KOZMETIKE KAJLI DŽENER I KORTNI KARDAŠIJAN PREDSTAVLJAJU NOVU KOLEKCIJU KOZMETIKE</h6>
                <p class="date">18. april, 2018</p>
            </div>

        </div>
        <article class="col-md-4">
            <div class="image-box">
                <a href="#">
                    <img src="./public/images/moda-img-3.jpg" alt="">
                </a>

            </div>
            <div class="image-description">
                <a href="#" class="caption p-1">SCENA</a>
                <h6>KAKO NOSITI MAKSI HALJINE KAO STREET STYLE ZVZDE</h6>
                <p class="date">18. april, 2018</p>
            </div>
        </article>

    </div>
</div>